<h3>show/hid layout</h3>
<hr>
<div fxShow="true" fxHide.xs="true" class="row-example">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>

<h3>responsive layout</h3>
<hr>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch" class="row-example">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>


<h3>row layout</h3>
<hr>
<div fxLayout="row" fxLayoutAlign="space-around center" class="row-example">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>

<h3>column layout</h3>
<hr>
<div fxLayout="column" fxLayoutAlign="center stretch" class="row-example">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>
