<div class="col-sm-4 board_panel">
    <div class="board_inner_panel">
            <div class="row board_title_row">
                <div class="col-sm-10">
                    <span class="center-block board_name"><%= name %></span>
                    <span class="center-block xboard_title_row">
                        <%= description %>
                    </span>
                </div>
                <div class="col-sm-2 no_padding_left board_small_image">
                    <img src="/Content/images/<%= parentIcon %>" 
                         class="jpa_logo_class" />
                </div>
            </div>
            <div class="row board_details_row">
                <a >
                    <div class="col-sm-7">
                        <img src="/Content/images/<%= image %>" 
                             class="img-thumbnail thumb_img_height center-block" />
                    </div>
                </a>
                    <div class="col-sm-5 ">
                        <div class="row">
                            <span>&nbsp;</span>
                        </div>
                        <div class="row">
                            Sizes:
                        </div>
                        <div class="row board_size_mini_view">
                            <table>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
            </div>
    </div>
</div>