@mixin button($type, $color, $icon){
  .button-#{$type} {
    color: $color;
    width: 100px;
    .icon{
      background: url("images/#{icon}.png");
    }
  }
}

@include button("alert", "red", "exclamation");

@include button("register", "green", "arrow");