<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="accessKeyId" value="AccessKeyId"/>
    <add key="secretAccessKey" value="SecretAccessKey"/>
    <add key="bucketName" value="clientdocs01"/>

    <add key="policy_mactoresadmin" value="{'Statement': [{ 'Sid': 'PersonalBucketAccess', 'Action': [ 's3:GetObject' ],'Effect': 'Allow', 'Resource': 'arn:aws:s3:::[BUCKET-NAME]/[USER-NAME]/*' }, { 'Sid': 'GeneralBucketList', 'Action': [ 's3:ListBucket' ], 'Effect': 'Allow', 'Resource': 'arn:aws:s3:::[BUCKET-NAME]' }]}"/>
    <add key="policy_developer" value="{'Statement': [{ 'Sid': 'PersonalBucketAccess', 'Action': [ 's3:GetObject' ],'Effect': 'Allow', 'Resource': 'arn:aws:s3:::[BUCKET-NAME]/[USER-NAME]/*' }, { 'Sid': 'GeneralBucketList', 'Action': [ 's3:ListBucket' ], 'Effect': 'Allow', 'Resource': 'arn:aws:s3:::[BUCKET-NAME]' }]}"/>

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>

    <behaviors>

      <serviceBehaviors>
        <behavior name="sBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="default">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <services>
      <service name="Proxy.ProxyService" behaviorConfiguration="sBehavior">
        <endpoint address="" binding="webHttpBinding" contract="Proxy.IProxyService" behaviorConfiguration="webHttpBehavior" bindingConfiguration="default">
        </endpoint>
      </service>
    </services>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>